<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
      <br>
    <h2>Edit Your Details</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>   
            <input name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Tittle Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Specific Title </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required ><%= listing.description %></textarea>
            <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>
        <div class="mb-3">
            Orignal Listing Image <br>
            <img src="<%= orignalImageUrl %>"> 
        </div>
       <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>   
           <input type="file" name="listing[image]" value="<%= listing.image.url%>" class="form-control" >
           <div class="invalid-feedback">Please enter a valid image link </div>
       </div>
       
       <div class="row"> 
           <div class="mb-3 col-md-4">
               
               <label for="price" class="form-label">Price </label> 
               <input type="number" name="listing[price]" value="<%=listing.price.toLocaleString("en-IN")%>" class="form-control" required>
               <div class="invalid-feedback">Please Enter a Valid Price</div>
            </div>
            
            <div class=" mb-3 col-md-8">
                
                <label for="country" class="form-label">Country</label> 
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">Country name should be Valid</div>
            </div>
        </div>

       <div class="mb-3">
        <label for="location" class="form-label">Loaction</label>   
           <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                   <div class="invalid-feedback">Location name should be Valid</div>
        </div>
    
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
